<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
</head>

<body>
    <div class="container">
        <h1>Welcome, {{user.username}}</h1>
        <p>Email: {{user.email}}</p>
        <a href="/auth/logout"><button>Logout</button></a>
    </div>
</body>

</html>