<!DOCTYPE html>
<html>
<head>
    <title>GitHub Login</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div><h1>Login with GitHub</h1>
    <a href="/auth/github"><button>
        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo" width="20"
            style="vertical-align: middle; margin-right: 10px;">
        Sign In with GitHub
    </button></a>
    </div>
</body>
</html>